<app-header title="Your profile" [link]="{name:'Main Page', address:'/main'}"></app-header>
<div class="profile-container">
  <div class="profile">
    <label>First Name:</label>
    <input type="text" [(ngModel)]="profile.firstName">
    <label>Last Name:</label>
    <input type="text" [(ngModel)]="profile.lastName">
    <label>Age:</label>
    <input type="number" [(ngModel)]="profile.age" min="18" max="99">
    <label>Gender:</label>
    <select id="gender" [(ngModel)]="profile.gender">
      <option value="MALE">Male</option>
      <option value="FEMALE">Female</option>
    </select>
    <label>City:</label>
    <input type="text" [(ngModel)]="profile.city">
    <label>Contact:</label>
    <input type="text" [(ngModel)]="profile.contact">
    <label>Description:</label>
    <textarea [(ngModel)]="profile.description"></textarea>
    <label>Keywords:</label>
    <div class="keywords-edit">
      <div *ngFor="let keyword of profile.keywords; let i = index" class="keyword">
        <input type="text" [(ngModel)]="profile.keywords[i].word">
        <button class="remove-keyword" (click)="removeKeyword(i)">Remove</button>
      </div>
      <button class="add-keyword" (click)="addKeyword()">Add Keyword</button>
    </div>
    <button class="save-button" (click)="saveProfile()">Save</button>
    <div class="account-actions">
      <button class="logout-button" (click)="logout()">Log Out</button>
      <button class="delete-account-button" (click)="deleteProfile()">Delete Profile</button>
    </div>
  </div>
  <div class="invites">
    <div *ngFor="let invite of invites" class="invites-recycler">
      <span>From: {{ invite['from'] }}</span>
      <span>To: {{ invite['to'] }}</span>
      <span>Status: {{ invite['status'] }}</span>
    </div>
  </div>
</div>



