h2 {
  text-align: center;
  color: #333333;
  margin-top: 0;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  width:  calc(100% - 20px);
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  margin-top: 10px;
  font-size: 14px;
}

button[type="submit"] {
  width: calc(100% - 60px);
  background-color: #ff4081;
  color: #ffffff;
  border: none;
  padding: 12px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  bottom: 15px;
}

button[type="submit"]:hover {
  background-color: #e04076;
}
