<button (click)="isSearchClosed = false" class="filters-button" [ngClass]="{'closed': !isSearchClosed}">Filters</button>
<div class="search" [ngClass]="{ 'closed': isSearchClosed }">
  <div class="form-group">
    <label for="gender">Gender:</label>
    <select id="gender" [(ngModel)] = "filter.gender">
      <option value="MALE">Male</option>
      <option value="FEMALE">Female</option>
    </select>
  </div>

  <div class="form-group">
    <label for="location">Location:</label>
    <input type="text" id="location" [(ngModel)] = "filter.city">
  </div>

  <div class="form-group">
    <label>Keywords:</label>
    <div class="keyword-container" id="keywordContainer">
      <span class="keyword-item" *ngFor="let keyword of filter.keywords" (click)="RemoveKeyword(keyword)">{{keyword}}</span>
    </div>
    <div class="keyword-group">
      <input type="text" id="keyword-input" [(ngModel)] = "newKeyword">
      <button type="button" id="add-keyword" (click)="AddKeyword()">Add Keyword</button>
    </div>
  </div>

  <button type="submit" class="search-button" (click)="Search()">Search</button>
</div>
