<header>
  <img src="./assets/icon.png" height="64" width="64" alt="Logo"/>
  <h1>Find your missing couple!</h1>
  <a href="#">Your account</a>
</header>


<div class="container">
  <div class="search">
    <label for="gender">Gender:</label>
    <select id="gender">
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="non-binary">Non-Binary</option>
      <option value="other">Other</option>
    </select>

    <label for="location">Location:</label>
    <input type="text" id="location">
    <div class="keyword-container" id="keywordContainer">
      <span class="keyword-item">Keyword1</span>
      <span class="keyword-item">Keyword2</span>
      <span class="keyword-item">Keyword3</span>
    </div>
    <button type="submit">Search</button>
  </div>

  <div class="recycler">
    <div class="recycler-item">

    </div>
    <div class="recycler-item">

    </div>
  </div>
</div>
<footer>
  Created By Bobrік
</footer>


